.mainNavbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchIputContainer {
    display: flex;
    align-items: center;
    flex: 4;
    margin-top: 4px;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 10px;
}

.iconsContainer {
    display: flex;
    align-items: center;
    flex: 0.22;
}

.logoContainer {
    flex: 0.2;
}

.icons {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.searchIcon {
    width: 20px;
    height: 20px;
}

.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.searchInput {
    width: 30pc;
    border: none;
    padding: 4px;
    border-radius: 10px;
}