.mainNavbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.seacrchInputContainer {
    display: flex;
    align-items: center;
    flex: 4;
}

.iconsContainer {
    display: flex;
    align-items: center;
    flex: 0.2;
}

.logoContainer {
    flex: 0.2;
}

.icons {
    width: 20px;
    height: 20px;
}

.profileImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}